<div *ngIf="post; else notFound">
  <img *ngIf="post.cover" [src]="post.cover" alt="COVER" class="cover" />
  <h1>{{ post.title }}</h1>
  <div class="meta">
    <span>{{ post.date | date: 'longDate' }}</span> /
    <span>{{ readingTime }} min read</span> /
    <span>
      by:
      <a
        *ngIf="post.repoURL; else authorOnly"
        [href]="post.repoURL"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ post.author || 'GitHub User' }}
      </a>
      <ng-template #authorOnly>
        {{ post.author || 'GitHub User' }}
      </ng-template>
    </span>
    <span> / {{ views }} Views </span>
  </div>

  <markdown [data]="post.content"></markdown>
</div>

<ng-template #notFound>
  <p>Post not found</p>
</ng-template>
