.cover
{
    width: 100%;
    max-width: 300%;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 10px;

}

.meta
{
    color: gray;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    
}